<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
<style id='safe-svg-svg-icon-style-inline-css' type='text/css'>
.safe-svg-cover{text-align:center}.safe-svg-cover .safe-svg-inside{display:inline-block;max-width:100%}.safe-svg-cover svg{height:100%;max-height:100%;max-width:100%;width:100%}

</style>
<link rel='stylesheet' id='contact-form-7-css' href='tpl/css/styles.css?ver=6.1.4' type='text/css' media='all' />
<link rel='stylesheet' id='menu-image-css' href='tpl/css/menu-image.css?ver=3.12' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css' href='tpl/css/dashicons.min.css?ver=6.7.5' type='text/css' media='all' />
<link rel='stylesheet' id='quiz-maker-css' href='tpl/css/quiz-maker-public.css?ver=6.7.0.49' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-lightbox-nivo-css' href='tpl/css/nivo-lightbox.min.css?ver=2.4.8' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-lightbox-nivo-default-css' href='tpl/css/default.css?ver=2.4.8' type='text/css' media='all' />
<link rel='stylesheet' id='theme-style-css' href='tpl/css/common.css?ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='theme-survey-css' href='tpl/css/survey.css?ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='page-index-css' href='tpl/css/page-index.css?ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='bvi-styles-css' href='tpl/css/bvi.min.css?ver=2.3.0' type='text/css' media='all' />
<style id='bvi-styles-inline-css' type='text/css'>

            .bvi-widget,
            .bvi-shortcode a,
            .bvi-widget a, 
            .bvi-shortcode {
                color: #ffffff;
                background-color: #e53935;
            }
            .bvi-widget .bvi-svg-eye,
            .bvi-shortcode .bvi-svg-eye {
                display: inline-block;
                overflow: visible;
                width: 1.125em;
                height: 1em;
                font-size: 2em;
                vertical-align: middle;
            }
            .bvi-widget,
            .bvi-shortcode {
                -webkit-transition: background-color .2s ease-out;
                transition: background-color .2s ease-out;
                cursor: pointer;
                border-radius: 2px;
                display: inline-block;
                padding: 5px 10px;
                vertical-align: middle;
                text-decoration: none;
            }
</style>
<script type="text/javascript" src="tpl/js/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
<script type="text/javascript" src="tpl/js/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
<script type="text/javascript" src="tpl/js/nivo-lightbox.min.js?ver=2.4.8" id="responsive-lightbox-nivo-js"></script>
<script type="text/javascript" src="tpl/js/underscore.min.js?ver=1.13.7" id="underscore-js"></script>
<script type="text/javascript" src="tpl/js/infinite-scroll.pkgd.min.js?ver=6.7.5" id="responsive-lightbox-infinite-scroll-js"></script>
<script type="text/javascript" id="responsive-lightbox-js-before">
/* <![CDATA[ */
var rlArgs = {"script":"nivo","selector":"lightbox","customEvents":"","activeGalleries":true,"effect":"fade","clickOverlayToClose":true,"keyboardNav":true,"errorMessage":"The requested content cannot be loaded. Please try again later.","woocommerce_gallery":false,"ajaxurl":"","nonce":"","preview":false,"postId":0,"scriptExtension":false};
/* ]]> */
</script>
<script type="text/javascript" src="tpl/js/front.js?ver=2.4.8" id="responsive-lightbox-js"></script>

<meta name="yandex-verification" content="7f2e38570f4188da" />
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(53733301, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/53733301" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="https://radario.ru/frontend/src/api/openapi/openapi.js"></script>
<link rel="icon" href="https://uuopera.ru/wp-content/uploads/2024/08/cropped-favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="https://uuopera.ru/wp-content/uploads/2024/08/cropped-favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://uuopera.ru/wp-content/uploads/2024/08/cropped-favicon-180x180.png" />
<meta name="msapplication-TileImage" content="https://uuopera.ru/wp-content/uploads/2024/08/cropped-favicon-270x270.png" />
